body {
    background-image: url(../images/dark-honeycomb.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #444;
}

h2 {
    font-size: 25px;
}

span{
    margin-top: 10px;
}

p{
    font-size: 20px;
}

img{
    margin-right: 15px;
}

.mainContainer {
    margin: 0 auto;
    text-align: center
}

.header {
    font-size: 35px;
    background-color: rgb(142, 242, 255);
    padding: 10px 0 10px 0;
    margin-bottom: 50px;
}

.matchNumber {
    background-color: aquamarine;
    height: 50px;
    width: 150px;
    margin: 0 auto; 
    padding: 5px;
    border-radius: 5px;
}

.scores {
    background-color: cadetblue;
    height: 100px;
    width: 150px;
    margin: 10px auto;
    border-radius: 5px;
}

.winner {
    padding-top: 15px;
    margin-bottom: 30px;
}

.playerTotal{
    background-color: darkcyan;
    margin: 10px auto;
    width: 250px;
    height: 150px;
    padding-top: 10px;
    border-radius: 5px;
}